.banner{
    background-image: url("https://firebasestorage.googleapis.com/v0/b/hoteles-wilmar.appspot.com/o/banner.jpg?alt=media&token=c3bc97b6-e5c0-4cc1-864d-b8934fe49009");
    background-position: top center;
    background-size: cover;
    padding:10% 30% 40% 8%
}
